@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


header {
    background-color: rgb(17, 17, 17) rgba(119, 119, 119, 0);
}

body {
    background: rgb(17, 17, 17);
}

main {
    color: white;
    background-color: rgb(0, 0, 0);
}

footer {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Miama-font {
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;

}

/* default styles */

* {
    margin: 0px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

/* Navbar styles */
.nav-bar {
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}


.nav-options {
    width: 465px;
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.option {
    height: 22px;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border-radius: 46px;
}

.options {
    display: flex;
    align-items: center;
    margin: 0px 47px;
    font-size: 18px;
    gap: 47px;
}

/* banner styles */
.banner-title {
    font-size: 78px;
    color: white;
    padding: 28px 0px;
}

.banner-content {
    margin-top: 20px;
    margin-bottom: 70px;
}

.explore-your-fitness {
    display: flex;
    justify-content: space-between;
}


.text-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.light-gray {
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 42px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    padding: 16px 40px 16px 40px;
    border: 1px solid white;
    cursor: pointer;
}

.banner-img{
    height: 580px;
    position: relative;
    top: 79px;
}

.card-one{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    right: 175px;
    bottom: 540px;
    padding: 17px 23px 16px 24px;
}

.Workout-title{
    font-size: 40px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.Workout-description{
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
}

.card-two{
    position: absolute;
    bottom: 244px;
    right: 480px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 23px 24px 23px;
    gap: 12px;
}

.circle-section{
    background-color: rgb(230, 83, 60);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

.tutorial-title{
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.tutorial-description{
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}

/* change your habit styles */

.habit-section {
    padding-top: 100px;
}

.habits-title {
    font-size: 48px;
    font-weight: 900;
    margin: 14px 0px;
}

.habit-description {
    font-size: 14px;
    font-weight: 400;
    margin: 14px 0px;
}

.title-child {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0px;
}

.habit-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gym-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 16px;
}

.gym-img {
    border-radius: 100%;
}


/* run an extra mile easily styles */

.run-bar {
    margin: 62px 0px;
    padding: 54px;
    border-radius: 18px;
    display: flex;
    background: rgb(34, 34, 34);
    justify-content: space-between;
}

.run-title {
    width: 443px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
}

.run-description {
    margin: 14px 0px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.btn-secondary {
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    margin-top: 34px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: white;
    box-sizing: border-box;
    border: 1px solid rgb(230, 83, 60);
    gap: 34px;
}

.run-image {
    height: 312px;
    border-radius: 18px;
}

/* BMI Calculator Styles */

.BMI-content {
    text-align: center;
}

.BMI-content h1 {
    font-size: 48px;
    font-weight: 900;
}

.BMI-content p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 16px;
}

.BMI-chart-title {
    height: 34px;
    display: flex;
    margin: 14px 0px;
    font-size: 28px;
    font-weight: 900;
    margin-top: 34px;
}

.table-chart {
    flex-direction: column;
    width: 310px;
    font-size: 16px;
    font-weight: 900;
    height: 216px;
}

.Calculate-BMI {
    background-color: rgb(34, 34, 34);
    margin: 88px 0px;
}

.Calculate-title {
    height: 34px;
    display: flex;
    margin: 14px 0px;
    font-size: 28px;
    font-weight: 900;
    padding: 0px;
    margin-top: 34px;
}

.Calculate-description {
    height: 48px;
    display: flex;
    margin: 14px 0px;
    font-size: 14px;
    font-weight: 400;
}

.calculate-bmi-child {
    display: flex;
    justify-content: space-between;
}

.from-content input {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    color: gray;
    background: rgba(255, 255, 255, 0.1);
}

.from-content select {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    color: gray;
    background: rgba(255, 255, 255, 0.1);
}

.status-color {
    width: 108px;
    height: 19px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

td {
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.from-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.activity-select {
    grid-column: span 2;
}

.button-primary {
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
}

/* Meet Our Team section style */

.Our-team {
    margin-top: 88px;
}

.team-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.team-description {
    margin: 14px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 58px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
}

.team-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.name-title{
    height: 28px;
    padding: 0px;
    margin: 20px;
    font-size: 21px;
    font-weight: 900;
    color: white;
    margin-right: -100px;
    margin-left: -0px;
    margin-bottom: -0px;
}

.trainer-styles {
    background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
    position: relative;
}

.trainer-bg-one {
    background-image: url(../images/trainer1.png);
    background-size: cover;
}

.trainer-bg-two {
    background-image: url(../images/trainer2.png);
    background-size: cover;
}

.trainer-bg-three {
    background-image: url(../images/trainer3.png);
    background-size: cover;
}

.trainer-bg-four {
    background-image: url(../images/trainer4.png);
    background-size: cover;
}

.trainer-bg-five {
    background-image: url(../images/trainer5.png);
    background-size: cover;
}

.trainer-bg-six {
    background-image: url(../images/trainer6.png);
    background-size: cover;
}

/* Send - Message-Style */

.send-section {
    margin-top: 88px;
    margin-bottom: 88px;
}

.input-class {
    width: 600px;
}

.send-message-form {
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
    gap: 20px;
}

.send-message-form input {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    color: gray;
    background: rgba(255, 255, 255, 0.1);
}

.send-message-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.button-secondary {
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


/* Footer - shared -styles */

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    
}

h4 {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 39px 0px;
    padding: 0px;
    color: white;
}

.style-section {
    height: 28px;
    padding: 0px;
    margin: 20px;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* footer-bar - styles */


.footer-content-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content {
    display: grid;
    grid-column: span 2;
}


.website-title {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
}

.fitness-description {
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 200px;
}


.footer-options {
    padding: 8px 20px 8px 20px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 39px;
    margin: 8px 8px 8px 47px;
}

.footer-item {
    padding: 8px 20px 8px 20px;
    gap: 47px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 39px;
    margin: 8px 8px 8px 47px;
}

.All-right-reserved {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
    color: rgba(255, 255, 255, 0.5);
}

.hr-section{
  padding-right: 200px;
  padding-left: 200px;
}


.ham-burger {
    display: none;
}

/* Responsive  design*/
@media screen and (max-width: 600px) {
    .nav-options {
        display: none;
    }

    .website {
        padding: 20px;
    }

    .ham-burger {
        display: block;
        color: white;
        font-size: 26px;
        flex-direction: column;
        font-weight: 900;
        padding: 20px;
    }

    .banner-title {
        font-size: 36px;
        flex-direction: column;
        
    }

    
    .Miama-font {
        font-size: 70px;
    }

    .banner-img {
        height: 580px;
        position: relative;
        margin-bottom: 79px;
    }

    .card-one{
        position: absolute;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
        right: 2px;
        bottom: -265px;
        padding: 17px 23px 16px 24px;
    }

    .card-two{
        position: absolute;
        bottom: -460px;
        right: 160px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(20px);
        background: rgba(48, 48, 48, 0.54);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 23px 24px 23px;
        gap: 12px;
    }

    .text-description {
        margin: 28px 0px;
        font-weight: 400;
        padding: 20px;
    }

    .option {
        flex-direction: column;
    }

    .options {
        flex-direction: column;
    }

    .explore-your-fitness {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }

    .habit-content {
        flex-direction: column;
        padding: 20px;
    }

    .habits-title {
        flex-direction: column;
        font-size: 32px;
        padding: 20px;
    }

    .habits-description {
        font-size: 14px;
        padding: 20px;
    }

    .run-title {
        margin: 14px 0px;
        font-size: 32px;
    }

    .run-description {
        margin: 14px 0px;
        font-size: 14px;
    }

    .run-bar {
        flex-direction: column;
        padding: 16px;
    }

    .btn-primary {
        height: 54px;
        margin: -10px;

    }

    .light-gray {
        width: 169px;
        height: 54px;
        padding: -0px;
        margin: -10px;
    }

    .btn-primary .span-tag {
        display: none;
    }

    .button-parent {
        display: flex;
        gap: 40px;
    }

    .btn-secondary {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gym-bar {
        flex-direction: column;
        margin: 0px 20px;
        border-radius: 18px;
        padding: 20px;
    }

    .BMI-content h1 {
        font-size: 32px;
    }

    .BMI-content p {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.5);
    }

    .calculate-bmi-child {
        flex-direction: column;
    }

    .BMI-chart-title {
        flex-direction: column;
        font-size: 16px;
        font-weight: 900;
        padding: 20px;
    }

    .Calculate-title {
        flex-direction: column;
        font-size: 16px;
        font-weight: 900;
        padding: 20px;
    }

    .Calculate-description {
        flex-direction: column;
        padding: 20px;
    }


    .from-content {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        font-size: 16px;
        font-weight: 900;
        padding: 20px;
    }

    .activity-select {
        grid-column: 1;
    }

    .button-primary {
        margin: 20px;
    }

    .table-chart {
        flex-direction: column;
        margin: 20px;
    }

    .Our-team {
        flex-direction: column;

    }

    .team-title {
        flex-direction: column;
        margin: 14px 0px;
        font-size: 32px;
        font-weight: 900;
        padding: 20px;
    }

    .team-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        border-radius: 18px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .trainer-bg-one {
        display: none;
    }

    .trainer-bg-four {
        display: none;
    }

    .send-section {
        flex-direction: column;
    }

    .send-message-title {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        margin: 14px 0px;
        font-size: 32px;
        font-weight: 900;
        padding: 20px;
    }

    .send-message-form {
        grid-template-columns: repeat(1, 1fr);
        border-radius: 18px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-content-parent {
        grid-template-columns: repeat(1, 1fr);
    }

    .website-title{
        padding: 20px;
    }

    .fitness-description{
        padding: 20px;
    }

    .content {
        grid-column: 1 ;
    }

    .input-class {
        flex-direction: column;
        font-size: 16px;
        font-weight: 900;
        padding: 20px;
        margin-right: 30px;
        width: 90%;
    }

    .run-image{
        width: 100%;
        margin-top: 32px;
    }
}