@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


header {
    background-color: rgb(17, 17, 17) rgba(119, 119, 119, 0);
}

body {
    background: rgb(17, 17, 17);
}

main {
    color: white;
    background-color: rgb(0, 0, 0);
}

footer {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.Miama-font {
    font-family: 'Miama', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 120px;
    
}

/* default styles */

* {
    margin: 0px;
}

.container {
    width: 1440px;
    margin: 0 auto;

}


h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

/* Navbar styles */
.nav-bar {
    height: 68px;
    margin-top: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-direction: row;
}

.text {
    display: flex;
    align-items: center;
    width: 132px;
    height: 43px;
    padding: 0px;
    margin: 0px 10px;
    justify-content: flex-start;
    flex-direction: row;
}

.website {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}


.nav-options {
    width: 465px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    margin: 0px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    cursor: pointer;
}

.option {
    height: 22px;
    background: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border-radius: 46px;
}

.options {
    width: 64px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    margin: 0px 47px;
    font-size: 18px;
    font-weight: 400;
    gap: 47px;
}

/* banner styles */


.banner-title {
    font-size: 78px;
    color: rgb(255, 255, 255);
    margin: 28px 0px;
}


.text-description {
    color: rgba(255, 255, 255, 0.5);
    margin: 28px 0px;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    margin: 0px 14px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgb(230, 83, 60);
    cursor: pointer;
}

.light-gray {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    border-radius: 42px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 10px;
    padding: 16px 40px 16px 40px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}

.banner-image{
    height: 580px;
    margin-top:67px;
}

.parent-section{
     height: 700px;
}


/* change your habit styles */

.habits-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.habits-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.gym-bar {
    width: 1044px;
    height: 274px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 58px 0px;
}

.movement-container {
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px 40px;
}

.gym-img {
    border-radius: 100%;
}

.movement-title {
    width: 93px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    margin: 6px 0px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.movement-description {
    width: 231px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 6px 0px;
}

.time-container {
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px 40px;
}

.time-title {
    width: 44px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 6px 0px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    color: rgb(255, 255, 255);
}

.time-description {
    width: 231px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 6px 0px;
}

.practice-container {
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px 40px;
}

.practice-title {
    width: 72px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    margin: 6px 0px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.practice-description {
    width: 231px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 6px 0px;
}

.weight-container {
    width: 231px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px 40px;
}

.weight-title {
    width: 107px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    margin: 6px 0px;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
}

.weight-description {
    width: 231px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 6px 0px;
}


/* run an extra mile easily styles */

.run-bar {
    margin: 62px 0px;
    border-radius: 18px;
    display: flex;
    background: rgb(34, 34, 34);
    justify-content: space-between;
}

.run-text {
    width: 443px;
    height: 290px;
    margin-left: 54px;
    margin-top: 41px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

.run-title {
    width: 443px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.run-description {
    width: 443px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 14px 0px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.btn-secondary {
    width: 224px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 16px 40px 16px 40px;
    margin: 34px 0px;
    border-radius: 42px;
    background-color: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(230, 83, 60);
    gap: 34px;
}

.run-image {
    width: 366px;
    height: 312px;
    border-radius: 18px 18px 18px 18px;
    margin-top: 30px;
    margin-right: 32px;
    margin-bottom: 29px;
}

/* BMI Calculator Styles */

.BMI-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}

.BMI-title {
    width: 353px;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.BMI-description {
    width: 671px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 14px 0px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.BMI-chart-title {
    height: 34px;
    display: flex;
    padding: 0px;
    margin: 14px 0px;
    font-size: 28px;
    font-weight: 900;
    margin-top: 34px;
}

.Calculate-BMI {
    background-color: rgb(34, 34, 34);
    height: 487px;
    margin: 88px 0px;
}

.Calculate-title {
    height: 34px;
    display: flex;
    margin: 14px 0px;
    font-size: 28px;
    font-weight: 900;
    padding: 0px;
    margin-top: 34px;
}

.Calculate-description {
    height: 48px;
    display: flex;
    margin: 14px 0px;
    font-size: 14px;
    font-weight: 400;
}

.calculate-bmi-child {
    display: flex;
    justify-content: space-between;
}

.from-content input {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    color: gray;
    background: rgba(255, 255, 255, 0.1);
}

.from-content select {
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    border: none;
    color: gray;
    background: rgba(255, 255, 255, 0.1);
}

.status-color {
    width: 108px;
    height: 19px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

td {
    height: 17px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.from-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.activity-select {
    grid-column: span 2;
}

/* Meet Our Team section style */

.Our-team {
    margin-top: 88px;
    height: 830px;
}

.team-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

.team-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
}

.team-content {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.trainer-styles {
    background-repeat: no-repeat;
    background-size: cover;
    height: 272px;
    border-radius: 18px;
    position: relative;
}

.trainer-bg-one {
    background-image: url(../images/trainer1.png);
}

.trainer-bg-two {
    background-image: url(../images/trainer2.png);
}

.trainer-bg-three {
    background-image: url(../images/trainer3.png);
}

.trainer-bg-four {
    background-image: url(../images/trainer4.png);
}

.trainer-bg-five {
    background-image: url(../images/trainer5.png);
}

.trainer-bg-six {
    background-image: url(../images/trainer6.png);
}

/* Send - Message-Style */

.send-section{
    margin-bottom: 88px;
}

.send-message-form {
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px;
    gap: 20px;
}

.button-primary{
    background-color: rgba(55, 128, 0, 0.5);
    border-radius: 42px;
    margin: 0px 14px;
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgba(55, 128, 0, 0.5);
    cursor: pointer;
}

.description-button{
    display: flex;
    justify-content: space-between;

    
}

.send-message-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 14px 0px;
    font-size: 48px;
    font-weight: 900;
    color: rgb(255, 255, 255);
}


/* Footer - shared -styles */

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    line-height: normal;
}

p{
    color:  rgba(255, 255, 255, 0.5);;
}

h4 {
    font-size: 32px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 39px 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
}

.style-section {
    height: 28px;
    padding: 0px;
    margin: 20px;
    font-size: 23px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}


/* footer-bar - styles */


.footer-content-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 350px;
}

.content {
    display: grid;
    grid-column: span 2;
}


.website-title {
    color: rgb(230, 83, 60);
    font-size: 70px;
    font-weight: 800;
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    margin-top: 55px;
}

.fitness-description {
    margin: 20px 0px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 200px;
}


.footer-options {
    padding: 8px 20px 8px 20px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 39px;
    margin: 8px 8px 8px 47px;
}

.footer-item {
    padding: 8px 20px 8px 20px;
    gap: 47px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 39px;
    margin: 8px 8px 8px 47px;
}

.All-right-reserved {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-container hr {
    margin: 1.8rem;
}